*{
    margin: 0;
    padding: 0;
}
.container{
    width: 100%;
    min-width: 100vh;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
    overflow: hidden;
}
.main-nav{
    width: 100%;
    display: flex;
    align-items: center;

}
